
/* Regular */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/regular/OpenSans-Regular-webfont.eot');
    src: url('../fonts/regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/regular/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/regular/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}
/* Semibold */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/semibold/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/semibold/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/semibold/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: semi-bold;
}
/* Bold */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/bold/OpenSans-Bold-webfont.eot');
    src: url('../fonts/bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bold/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/bold/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: bold;
}
/* Extra Bold */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/extrabold/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/extrabold/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/extrabold/OpenSans-ExtraBold-webfont.woff') format('woff'), url('../fonts/extrabold/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('../fonts/extrabold/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 800;
    font-style: bolder;
}
/* Light */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/light/OpenSans-Light-webfont.eot');
    src: url('../fonts/light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/light/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/light/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: light;
}
/* Semibold Italic */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/semibolditalic/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/semibolditalic/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/semibolditalic/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('../fonts/semibolditalic/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('../fonts/semibolditalic/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-style: oblique;
}
/* Regular Italic */
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/italic/OpenSans-Italic-webfont.eot');
    src: url('../fonts/italic/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/italic/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/italic/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/italic/OpenSans-Italic-webfont.svg#open_sans_italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-style: oblique;
}